/* Common */
body{
  min-width: 1280px;
}
.hide{
  position: absolute;
  left:-5000px;
}
/* Common Slide */
.slide .prev, .next{
  display: block;
  position: absolute;
  top:50%;
  width: 25px;
  height: 47px;
  transform: translateY(-50%);
  background: url(imgs/sp_com.png) no-repeat;
  color:transparent;
  z-index:10;
}
.slide .prev{
  left:8rem;
  background-position: -128px -60px;
}
.slide .next{
  right: 8rem;
  background-position: -158px -60px;
}
.slide .control{
  position: absolute;
  left:0;
  bottom: 5.5rem;
  width: 100%;
  text-align: center;
}
.slide .control > div{
  display: inline-block;
  position: relative;
  padding: 0 4.5rem 0 0;
}
.slide .control > div > div {
  position: absolute; 
  right:0;
}
.slide .control > div > div a{
  overflow: hidden;
  display: inline-block;
  margin-left: 3px;
  width: 8px;
  height: 9px;
  background: url(imgs/sp_com.png);
  opacity: 0.5;
}
.slide .control > div > div a.on{
  opacity: 1;
}
.slide .control > div > div a.play{
  background-position: -108px -72px;
}
.slide .control > div > div a.pause{
  background-position: -108px -60px;
}
.slide .control ul{
  display: inline-block;
  position: relative;
  top: 4px;
  font-size:0;
}
.slide .control li{
  display: inline-block;
  padding: 0 3px;
}
.slide .control li.on a{
  background:white;
}
.slide .control li a{
  display: block;
  width: 5rem;
  height: 3px;
  background: rgba(255,255,255,0.5);
}
.slide .control a{
  color:transparent;
}
/* Header */
header{
  position: relative;
  text-align: center;
  height: 8.1rem;
}
header h1{
  position: absolute;
  left: 5rem;
  top:0;
  padding-top:1.4rem;
}
header h1 a{
  display: block;
  width: 11rem;
  height: 4.8rem;
  color: transparent;
  background: url(imgs/sp_com.png) no-repeat -300px 0;
}
header .lnb li{
  display: inline-block;
}
header .lnb li a{
  display: block;
  height: 8.1rem;
  padding: 0 3.5rem;
  color:#333;
  line-height: 8.1rem;
}
header .lnb li a:hover{
  font-weight: 900;
  color:#2d5b79;
}
header .lnb li a span{
  position: relative;
  font-size: 1.6rem;
}
header .lnb li a:hover span::before{
  content: "";
  position: absolute;
  left:0;
  bottom: -9px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #2d5b79;
}
header .service{
  position: absolute;
  right: 5rem;
  top:0;
}
header .service li{
  position: relative;
  float: left;
}
header .service li::before{
  content: "";
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  width: 1px;
  height: 7px;
  background: #ccc;
}

header .service li:first-child::before {
  display: none;
}

header .service li a {
  display: block;
  height: 8.1rem;
  padding: 0 1rem;
  line-height: 8.1rem;
  font-size:1.4rem;
}

header .service li:last-child a {
  padding-right: 0;
}
/* Main */
/* Main Visual Section */
.visual{
  position: relative;
  padding: 0 5rem;
}
.visual .con > div{
  height: 64rem;
}
.visual .con .slide{
  background: url(imgs/bg_main01.jpg) no-repeat center center;
  color:white;
  line-height: 4.6rem;
  letter-spacing: -1px;
}
.visual .con .slide p{
  padding:1.9rem 0 0;
  font-size: 2rem;
  line-height: 100%;

}
.visual .con .slide .txt{
  position: absolute;
  left:50%;
  top: 17.5rem;
  font-size: 3.2rem;
}
/* Main Product CSS */
.product ul{
  padding: 4.6rem 0 4rem;
  text-align: center;
  font-size:0;
}
.product ul li{
  display: inline-block;
  padding:0 5.5rem;
  text-align: center;
}
.product a{
  display: block;
  color: #001829;
  font-size: 1.5rem;
}
.product a:hover{
  color: #2d5779;
  font-weight: 900;
}
.product a::before{
  content:'';
  display: block;
  width: 6.4rem;
  height: 5.2rem;
  background:url(imgs/sp_com.png) no-repeat;
  margin-bottom:2.6rem;
}

.product li:nth-child(1) a::before{
  background-position: -3px -118px;
}
.product li:nth-child(2) a::before{
  background-position: -75px -118px;
}
.product li:nth-child(3) a::before{
  background-position: -148px -118px;
}
.product li:nth-child(4) a::before{
  background-position: -219px -118px;
}
.product li:nth-child(5) a::before{
  background-position: -292px -118px;
}
.product li:nth-child(6) a::before{
  background-position: -364px -118px;
}

.product li:nth-child(1) a:hover::before{
  background-position: -3px -184px;
}
.product li:nth-child(2) a:hover::before{
  background-position: -75px -184px;
}
.product li:nth-child(3) a:hover::before{
  background-position: -148px -184px;
}
.product li:nth-child(4) a:hover::before{
  background-position: -219px -184px;
}
.product li:nth-child(5) a:hover::before{
  background-position: -292px -184px;
}
.product li:nth-child(6) a:hover::before{
  background-position: -364px -184px;
}
/* Magazine */
.magazine{
  overflow: hidden;
  position: relative;
  height: 67rem;
  background: #dfd9d1;
}

.magazine h2{
  padding: 5rem 0 1.6rem;
  font-size: 2.8rem;
  color: #000;
  text-align: center;
}
.magazine p{
  font-size: 1.4rem;
  color: #3a3b36;
  text-align: center;
}
.magazine .slide-box > div{
  position: absolute;
  top: 15rem;
  left:50%;
  transform: translate(-50%,0);
  width: 118rem;
  height: 43rem;
}
.magazine .slide-box > div:nth-child(1){
  margin-left: -128rem;
}
.magazine .slide-box > div:nth-child(3){
  margin-left: 128rem;
}
.magazine .slide-box .left{
  overflow: hidden;
  position: relative;
  float: left;
  width: 80rem;
  height: 43rem;
}
.magazine .slide-box .left img{
  width: 100%;
}
.magazine .slide-box .left div{
  position: absolute;
  right:0;
  top:0;
  width: 20rem;
  height: 100%;
  padding: 4.7rem 2rem 0;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.magazine .slide-box .left div h3{
  color:white;
  font-size: 2rem;
}
.magazine .slide-box .left div h3 span{
  display: block;
  margin-top:1rem;
  font-size: 1.2rem;
  font-weight: 900;
}
.magazine .slide-box .left div p{
  padding: 0.9rem 0 0;
  text-align: left;
  line-height: 2.4rem;
  color:white;
}
.magazine .slide-box .left div a{
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  display: block;
  width: 16rem;
  height: 4.5rem;
  border: 1px solid white;
  font-size: 1.6rem;
  color:white;
  text-align:center;
  line-height: 4.5rem;

}
.magazine .slide-box .right{
  float:right;
  padding: 2rem 2rem 0;
  width: 38rem;
  height: 43rem;
  background: white;
  box-sizing: border-box;
}
.magazine .slide-box .right li{
  padding: 0 0 2rem;
}
.magazine .slide-box .right li a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  width: 24rem;
  height: 8.2rem;
  position: relative;
  padding: 0 0 0 10rem;
  font-size: 1.6rem;
  color:#333;
}
.magazine .slide-box .right li a strong{
  font-size: 1.4rem;
  color:black;
}
.magazine .slide-box .right li a img{
  position: absolute;
  left: 0;
}
.magazine.slide .control{
  bottom:4.8rem;
}
.magazine.slide .prev{
  left:50%;
  margin: 3rem 0 0 -64rem;
}
.magazine.slide .next{
  right:50%;
  margin: 3rem -64rem 0 0;
}

/* Notice  */
.notice > div{
  width: 118rem;
  height: 56rem;;
  margin: 0 auto;
  padding: 5.5rem 0;
}
.notice > div .top > ul {
  float:left;
}
.notice > div .top > ul a {
  display: block;
  width: 28rem;
  height: 28rem;
  text-align: center;
  padding-top:50%;
  font-weight: 900;
  font-size: 1.8rem;
  color:white;
  box-sizing: border-box;
}
.notice > div .top > ul a span {
  display: none;
}
.notice > div .top > ul a:hover{
  background : rgba(45,91,121,0.5);
}
.notice > div .top > ul a:hover span{
  display: block;
  padding-top:1rem;
  font-weight: 500;
  font-size:1.4rem;
}
.notice > div .top > ul li{
  float:left;
  padding: 0 2rem 0 0;
  /* margin: 0 2rem 0 0; */
}
.notice > div .top > ul li:nth-child(1) {
  background: url(imgs/bg_key_link01.jpg) no-repeat;
}
.notice > div .top > ul li:nth-child(2) {
  background: url(imgs/bg_key_link02.jpg) no-repeat;
}
.notice > div .top > ul li:nth-child(2) a{
  color:black;
 }
.notice > div .top > ul li:nth-child(3) {
  background: url(imgs/bg_key_link03.jpg) no-repeat;
}
.notice > div .top > div { 
  float: left;
  width: 28rem;
  height: 28rem;
  background: #f2f0ed;
  padding: 3.6rem 2rem 0;
  box-sizing: border-box;
}

.notice > div .top > div h2{
  padding: 0 0 2.9rem;
  font-size: 1.6rem;
  color: black;
  text-align: center;
}
.notice > div .top > div div{
  padding: 0 0 1rem;
}
.notice > div .top > div select, input{
  width: 100%;
  height: 4.5rem;
  border: none;
  text-indent: 1rem;
}
.notice > div .top > div a{
  display: block;
  margin: 2rem 0 0;
  height: 4.5rem;
  background: #2d5b79;
  text-align: center;
  line-height: 4.5rem;
  color:white;
  font-size: 1.5rem
}
/* 공지 및 뉴스 Article */
.notice article{
  padding: 2rem 0;
  /* margin-top:2rem;
  border:1px solid red; */
}
.notice article > div{
  position: relative;
  margin-top:2rem;
  float: left;
  width: 58rem;
  height: 26rem;
  background: #f2f0ed;
}
.notice article > div a,div{
  font-size: 1.6rem;
  color: black;
}
.notice article > div p{
  font-size: 1.2rem;
  color: #979797;
}
.notice article > div > h2{
  height: 7.8rem;
  border-bottom: 2px solid white;
  font-size: 2.4rem;
  color:#2d5b79;
  text-align: center;
  line-height: 7.8rem;
}
.notice article > div > a{
  position: absolute;
  width: 3rem;
  height: 3rem;
  top:2.4rem;
  right:2.4rem;
  background : url(imgs/sp_com.png) no-repeat -196px -60px #fff;
  border-radius: 50%;
  color:transparent;
}
.notice article > div.left ul li{
  float: left;
  width: 50%;
  padding:3.5rem;
  border-left : 1px solid white;
  box-sizing: border-box;
}
.notice article > div.left ul li:first-child{
  border:none;
}
.notice article > div.left ul li span{
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
}
.notice article > div.left ul li p{
  padding:2.5rem 0 2rem;
}
.notice article > div.right{
  float: right;
}
.notice article > div.right li{
position: relative;
border-bottom: 1px solid white;
}
.notice article > div.right li:last-child{
  border:none;
}
.notice article > div.right ul li a{
  display: block;
  overflow: hidden;
  width: 40rem;
  height: 6rem;
  line-height: 6rem;
  text-indent: 3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice article > div.right ul li p{
  position: absolute;
  top:0;
  right:3rem;
}
.banner{
  padding: 5rem 0;
  background: url(imgs/bg_main_business.jpg)no-repeat center top;
}
.banner ul{
  display: flex;
  width: 118rem;
  margin:0 auto;
}
.banner ul li{
  flex:1;
  padding: 0 0 0 2rem;
}
.banner ul li:first-child{
  padding:0;
}
.banner ul li a{
  display: block;
  padding: 33rem 0 0;
  height: 38rem;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: border-box;
}
.banner ul li:nth-child(1) a{
  background: url(imgs/bg_business_link01.jpg)
}
.banner ul li:nth-child(2) a{
  background: url(imgs/bg_business_link02.jpg)
}
.banner ul li:nth-child(3) a{
  background: url(imgs/bg_business_link03.jpg)
}
.banner ul li:nth-child(4) a{
  background: url(imgs/bg_business_link04.jpg)
}
.banner ul li a strong{
  display: block;
  font-size: 2.3rem;
  color: black;
}
/* Footer */
footer .footer-top {
  background: #383f43;
  width: 192rem;
  height: 6rem;
}
footer .footer-top > div{
  width: 118rem;
  margin:0 auto;
  padding: 1.3rem 0;
}
footer .footer-top > div ul{
  float:left;
}
footer .footer-top > div ul li{
  position: relative;
  float: left;
  padding: 0 1.9rem 0 0;
}
footer .footer-top > div ul li:last-child::before{
  display: none;
}
footer .footer-top > div ul li:before{
  position: absolute;
  content: '';
  right:9px;
  top:50%;
  transform: translateY(-50%);
  width: 1px;
  height: 8px;
  border-right: 1px solid #70767a ;
}
footer .footer-top > div ul li a{
  color:white;
  font-size:1.3rem;
  line-height: 3rem;
}
footer .footer-top > div div{
  float:right;
}
footer .footer-top > div div p{
  display: inline-block;
  width: 24.2rem;
  height: 3.6rem;
  background : #2a3033; 
  color: white;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
}
footer .footer-top > div div p strong{
  padding: 0 1.5rem;
  font-size: 2rem;
}
footer .footer-top > div div select{
  width: 20rem;
  height: 3.6rem;
  padding: 0 0 0 2.1rem;
  font-size:1.2rem;
  box-sizing: border-box;
  vertical-align: 1px;
}
footer .footer-bottom{
  padding:2rem 0;
  background: #4c5459;
  text-align: center;
}
footer .footer-bottom p{
  display: inline-block;
  width: 131px;
  height: 51px;
  background: url(imgs/sp_com.png)  no-repeat -150px 0;
  color:transparent;
}
footer .footer-bottom ul{
  padding: 2.4rem 0 1rem;
}
footer .footer-bottom ul li{
  position: relative;
  display: inline-block;
  padding:1rem;
  font-size: 1.2rem;
  color:white;
}
footer .footer-bottom ul li::before{
  position: absolute;
  content:'';
  top:50%;
  margin-top:-3px;
  right:0;
  width: 1px;
  height: 8px;
  background: #70767a;
}
footer .footer-bottom address{
  font-size: 1.4rem;
  color:white;
}

