@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean');
* { font-family: "Nanum Gothic", sans-serif; }
html, body {text-align:center}
.S-Core {font-family:"S-Core"}
.fs20 {font-size:20px}
h1 {font-size:25px;font-family:"S-Core"}
h1.weight100 {font-weight:100}
h1.weight200 {font-weight:200}
h1.weight300 {font-weight:300}
h1.weight400 {font-weight:400}
h1.weight500 {font-weight:500}
h1.weight600 {font-weight:600}
h1.weight700 {font-weight:700}
h1.weight800 {font-weight:800}
h1.weight900 {font-weight:900}

@font-face {
  font-family: 'S-Core';
  font-weight:100;
  src: url('../font/S-CoreDream-1Thin.eot');
  src: url('../font/S-CoreDream-1Thin.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-1Thin.svg#S-CoreDream-1Thin') format('svg'),
       url('../font/S-CoreDream-1Thin.ttf') format('truetype'),
       url('../font/S-CoreDream-1Thin.woff') format('woff'),
       url('../font/S-CoreDream-1Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:200;
  src: url('../font/S-CoreDream-2ExtraLight.eot');
  src: url('../font/S-CoreDream-2ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-2ExtraLight.svg#S-CoreDream-2ExtraLight') format('svg'),
       url('../font/S-CoreDream-2ExtraLight.ttf') format('truetype'),
       url('../font/S-CoreDream-2ExtraLight.woff') format('woff'),
       url('../font/S-CoreDream-2ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:300;
  src: url('../font/S-CoreDream-3Light.eot');
  src: url('../font/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-3Light.svg#S-CoreDream-3Light') format('svg'),
       url('../font/S-CoreDream-3Light.ttf') format('truetype'),
       url('../font/S-CoreDream-3Light.woff') format('woff'),
       url('../font/S-CoreDream-3Light.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:400;
   src: url('../font/S-CoreDream-4Regular.eot');
  src: url('../font/S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-4Regular.svg#S-CoreDream-4Regular') format('svg'),
       url('../font/S-CoreDream-4Regular.ttf') format('truetype'),
       url('../font/S-CoreDream-4Regular.woff') format('woff'),
       url('../font/S-CoreDream-4Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:500;
  src: url('../font/S-CoreDream-5Medium.eot');
  src: url('../font/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-5Medium.svg#S-CoreDream-5Medium') format('svg'),
       url('../font/S-CoreDream-5Medium.ttf') format('truetype'),
       url('../font/S-CoreDream-5Medium.woff') format('woff'),
       url('../font/S-CoreDream-5Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-Core';
  font-weight:600;
  src: url('../font/S-CoreDream-6Bold.eot');
  src: url('../font/S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-6Bold.svg#S-CoreDream-6Bold') format('svg'),
       url('../font/S-CoreDream-6Bold.ttf') format('truetype'),
       url('../font/S-CoreDream-6Bold.woff') format('woff'),
       url('../font/S-CoreDream-6Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:700;
  src: url('../font/S-CoreDream-7ExtraBold.eot');
  src: url('../font/S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-7ExtraBold.svg#S-CoreDream-7ExtraBold') format('svg'),
       url('../font/S-CoreDream-7ExtraBold.ttf') format('truetype'),
       url('../font/S-CoreDream-7ExtraBold.woff') format('woff'),
       url('../font/S-CoreDream-7ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:800;
  src: url('../font/S-CoreDream-8Heavy.eot');
  src: url('../font/S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-8Heavy.svg#S-CoreDream-8Heavy') format('svg'),
       url('../font/S-CoreDream-8Heavy.ttf') format('truetype'),
       url('../font/S-CoreDream-8Heavy.woff') format('woff'),
       url('../font/S-CoreDream-8Heavy.woff2') format('woff2');
}
@font-face {
  font-family: 'S-Core';
  font-weight:900;
  src: url('../font/S-CoreDream-9Black.eot');
  src: url('../font/S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
       url('../font/S-CoreDream-9Black.svg#S-CoreDream-9Black') format('svg'),
       url('../font/S-CoreDream-9Black.ttf') format('truetype'),
       url('../font/S-CoreDream-9Black.woff') format('woff'),
       url('../font/S-CoreDream-9Black.woff2') format('woff2');
}